.filters-container {
    background-color: var(--color-lightblue);
    display: flex;
    justify-content: space-between;
    padding: 13px 15px;
    margin-bottom: 25px;
    border-radius: 10px;
  }

  .filters-container .records-actions {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .filters-container .form-items {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
  }

  .filters-container .form-items .input-block {
    display:  flex;
    flex-direction: column;
  }

  .filters-container .form-items .input-block label {
    font-weight: bold;
  }

  .filters-container input {
    height: 44px;
    font-weight: bold;
    font-size: 16px;
    color: #9E9E9E;
    border: 1px solid #E1E1E1;
    border-radius: 10px;
    box-sizing: border-box;
    margin-right: 20px;
    padding-left: 15px;
  }
  
  .filters-container input:focus {
    outline: none;
  }
  
  .filters-container button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    height: 44px;
    width: 44px;
    border: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: var(--color-turquoise);
    transition: background-color 0.3s ease-out;
  }

  .filters-container button:hover {
    background-color: var(--color-coral); 
  }

  .filters-container button span {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
  }

  .filters-container button span svg {
    height: 18px;
    width: 18px;
    color: #FFF;
  }
  
  .filters-container .clean-filters {
    background-color: var(--color-coral);
    color: #FFF;
    margin-left: 20px;
  }
  
  .filters-container .clean-filters:hover {
    background-color: #e07243;
  }
  
  .filters-container .action-filters {
    background-color: var(--color-turquoise);
    color: #0E1B28;
  }
  
  .filters-container .action-filters:hover {
    background-color: #04c7ef;
  }

  .filters-container a {
    width: 100%;
    max-width: 250px;
    height: 100%;
    /*background: linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.5));*/
    background-color: var(--color-turquoise);
    border-radius: 8px;
    text-decoration: none;
    color: #FFF;
  
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
  
    transition: background-color 0.4s ease-out;
  }

  .filters-container a:hover {
    /*background-image: linear-gradient(var(--color-coral), var(--color-coraldark));*/
    background-color: var(--color-coral);    
  }

  .filters-container a span {
    display: block;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5));
    width: 54px;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  .filters-container a span svg {
    height: 24px;
    width: 24px;
  }

  .filters-container a strong {
    background: linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.5));
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    padding-right: 12px;
    padding-left: 12px;
  }