.filters-container {
    background-color: var(--color-darkslategray);
    display: flex;
    justify-content: space-between;
    padding: 13px 15px;
    margin-bottom: 25px;
    border-radius: 10px;
  }

  .filters-container.records-actions {
    justify-content: flex-end;
  }
  
  .filters-container input {
    height: 44px;
    font-weight: bold;
    font-size: 16px;
    color: #9E9E9E;
    border: 1px solid #E1E1E1;
    border-radius: 10px;
    box-sizing: border-box;
    margin-right: 20px;
    padding-left: 15px;
  }
  
  .filters-container input:focus {
    outline: none;
  }
  
  .filters-container button {
    font-weight: bold;
    font-size: 16px;
    border-radius: 10px;
    padding: 13px 60px;
  }
  
  .filters-container .clean-filters {
    background-color: var(--color-coral);
    color: #FFF;
    margin-left: 20px;
  }
  
  .filters-container .clean-filters:hover {
    background-color: #e07243;
  }
  
  .filters-container .action-filters {
    background-color: var(--color-turquoise);
    color: #0E1B28;
  }
  
  .filters-container .action-filters:hover {
    background-color: #04c7ef;
  }

  .filters-container a {
    width: 100%;
    max-width: 250px;
    height: 54px;
    /*background: linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.5));*/
    background-color: var(--color-turquoise);
    border-radius: 8px;
    text-decoration: none;
    color: #FFF;
  
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
  
    margin-top: 16px;
    margin-right: 8px;
    
    transition: background-color 0.4s ease-out;
  }

  .filters-container a:hover {
    /*background-image: linear-gradient(var(--color-coral), var(--color-coraldark));*/
    background-color: var(--color-coral);    
  }

  .filters-container a span {
    display: block;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5));
    width: 54px;
    height: 54px;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  .filters-container a strong {
    background: linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.5));
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
  }