.pagination-container {
    margin-top: 30px;
    text-align: center;
  }
  
  .pagination-item {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    margin-right: 10px;
    font-weight: bold;
    font-size: 18px;
  }
  
  .pagination-item.active {
    background: linear-gradient(var(--color-coral),var(--color-coraldark));
    color: #FFF;
  }

  .pagination-item.active:hover {
    color: var(--color-black);
  }
  
  .pagination-item.inactive {
    background: linear-gradient(var(--color-turquoise),var(--color-darkblue));
    color: #FFF;
  }
  
  .pagination-item.inactive:hover {
    background: linear-gradient(var(--color-coral),var(--color-coraldark));
  }