.home-container {
    margin-top: 150px;
    display: flex;
    justify-content: center;
  }
  
  .home-text {
    width: 490px;
    margin-right: 70px;
  }
  
  .home-text-title {
    font-size: 55px;
    color: #FFF;
  }
  
  .home-text-subtitle {
    font-size: 24px;
    color: var(--color-coral);
    margin-bottom: 48px;
  }

  .home-text a {
    width: 100%;
    max-width: 250px;
    height: 54px;
    /*background: linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.5));*/
    background-color: var(--color-turquoise);
    border-radius: 8px;
    text-decoration: none;
    color: #FFF;
  
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
  
    margin-top: 16px;
    margin-right: 8px;
    
    transition: background-color 0.4s ease-out;
  }

  .home-text a:hover {
    /*background-image: linear-gradient(var(--color-coral), var(--color-coraldark));*/
    background-color: var(--color-coral);    
  }

  .home-text a span {
    display: block;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5));
    width: 54px;
    height: 54px;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  .home-text a strong {
    background: linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.5));
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
  }
  
  /* responsive */
  
  @media (max-width: 1250px) {
    .home-image {
      max-width: 400px;
      height: auto;
    }
  }
  
  @media (max-width: 1250px) {
    .home-image {
      max-width: 400px;
      height: auto;
    }
  
    .home-text-title {
      font-size: 45px;
    }
    
    .home-text-subtitle {
      font-size: 20px;
    }
  
    .home-text {
      width: 410px;
      margin-right: 20px;
    }
  }
  
  @media (max-width: 850px) {
    .home-container {
      margin-top: 50px;
    }
  
    .home-image {
      display: none;
    }
  
    .home-text {
      margin-right: 0;
      text-align: center;
      padding: 0 10px;
    }
  }